.content {
    position: relative;
    margin-top: 0px;
}

.title {
    color: #fff
}

.bar {
    background-color: #209BEE;
}

.content>.table-view:first-child {
    border-top: none;
    margin-top: 0px;
}

p {
    font-size: 16px
}

p.word-number {
    font-size: 10px;
    line-height: initial;
    color: #999;
}

body {
    position: relative;
    color: #666;
    font-size: 16px;
    line-height: 36px;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
